    {% extends 'portfolio/index.html' %}
    {% load staticfiles %}

    {% block content %}

    <div class="row">
    	<div id="panel-galerry" class="small-11 large-8 columns small-centered panel">
    		<div class="slide text-center">
    			<h2>Là c'est la page qui va déchirer !</h2>
    			<h4>Toutes tes toiles s'afficheront ici, avec si tu veux un prix et un moyen d'acheter directement tes toiles via le site</h4>
    			<h4>Et à terme, j'aimerai bien faire un système qui te permette d'upload tout seul tes images de toiles (le prix, une description, ect..) et elles s'afficheront ici sans que j'ai besoin d'agir dessus ! Tu pourras faire ça tout seul comme un grand :)</h4>
    		</div>
    	</div>
    </div>
    {% endblock content %}