    {% extends 'portfolio/index.html' %}
    {% load staticfiles %}

    {% block content %}


    <div class="row">
    	<div id="panel-home" class="small-11 large-8 columns small-centered panel">
    		<div class="slide text-center">
    			<h2>BON ANNIVERSAIRE FRANGIN !</h2>
                <h4>Avec ça, plus d'excuses pour pas faire des toiles et te faire un max de pognon ;)</h4>
                <h4>T'as un aperçu de ce qui le site pourra rendre mais va falloir qu'on voit ensemble ce que tu veux ajouter/modifier ! Balade toi un peu sur les liens présents pour te faire une idée (la barre du haut)</h4>
            </div>
        </div>
    </div>
    {% endblock content %}