.titre-header {
	color: #FFFFFF;
}

.block-header {
	text-align: center;
	display: inline-block;
	margin-left: 15px;
	height: 10vh;
	width: 100px;
}

.block-header:hover {
	border-bottom: 5px solid white;
}

#container-block-header {
	display: inline;
}

.text-header,
.text-header-d {
	font-size: 18px;
}

.text-header-d {
	padding: 10px;
	margin: 0;
}

.text-header-d:hover {
	background: rgb(0, 0, 0);
}

.border-bottom {
	border-bottom: 5px solid white;
}
#d-menu {
	width: 200px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
}